@font-face {
  font-family: 'liga';
  src: url("http://localhost:8080/static/font/liga/websymbolsligaregular.eot");
  src: url("http://localhost:8080/static/font/liga/websymbolsligaregular.eot?#iefix") format('embeded-opentype'), url("http://localhost:8080/static/font/liga/websymbolsligaregular.woff") format('woff'), url("http://localhost:8080/static/font/liga/websymbolsligaregular.ttf") format('truetype'), url("http://localhost:8080/static/font/liga/websymbolsligaregular.svg#web_symbols_ligaregular") format('svg');
}
body {
  margin: 35px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #666;
}
